//main: main.scss
#loadingContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Assicura che l'icona di caricamento sia sopra gli altri elementi */
}

.colore_testo{
    color:#f7f7f7;
}